<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSF - About Us</title>
    <%- include ('../partials/header-links') %>
        <!-- custom-css -->
        <link rel="stylesheet" href="./css/about.css">
</head>

<body>

    <%- include('../partials/navbar')%>
        <!-- New  -->
        <div class="container-fluid" id="intro-div">
            <div class="col-12 py-5 headingDiv">
                <h1 class="headings">
                    About Us
                    <hr>
                </h1>
            </div>
            <div class="container px-md-3 py-md-4" id="about-para-div">
                <p class="d-md-block d-none">
                    <img src="./Images/temporary/owner-pic-removebg-preview.png" alt="" srcset="" class="owner-img" align="left">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa pariatur quisquam in voluptatibus
                    earum perspiciatis itaque nesciunt porro, deserunt, quo necessitatibus iste ullam expedita
                    accusantium eveniet aperiam voluptate asperiores dolores vitae? Sint, magni nam. Laudantium
                    doloremque ab id est omnis inventore accusamus similique quibusdam quae odio, quaerat adipisci. Quo,
                    esse.

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem dolorem recusandae reiciendis
                    ea odio. Fuga eaque fugit pariatur eligendi et, sunt repellat expedita quasi asperiores magnam.
                    Consequuntur tenetur fuga dolorum eum expedita ducimus. Similique, debitis. Iste quis hic optio sed
                    veritatis, quasi officiis non beatae, amet odit suscipit? Excepturi molestias quasi temporibus
                    aspernatur blanditiis nemo, qui, doloribus fugiat, at atque saepe non? Enim quae fuga blanditiis
                    magni veritatis magnam? Error animi ab ducimus earum molestiae? Dignissimos sint hic eos laboriosam
                    tempore officiis nam recusandae, ipsam rerum totam ex sunt! Amet voluptate minima ut, accusamus
                    neque ullam tempora modi inventore obcaecati!

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam beatae provident magnam! Officia
                    beatae voluptatibus temporibus porro laborum! Alias ab blanditiis accusantium sint excepturi
                    recusandae magnam incidunt architecto quo quod necessitatibus distinctio quis maiores fugiat sed
                    velit repellendus fuga maxime, doloremque sequi! Ipsam soluta quo, tempore repellat eum, unde aut et
                    distinctio sit voluptas veniam quaerat tenetur veritatis maxime ea earum dolorum quasi maiores!
                    Dicta nam dolor exercitationem assumenda sit ad iste cumque ipsa corrupti, nobis eos eum enim
                    consequatur accusantium cum? Vitae quaerat ipsum perspiciatis minima assumenda doloribus quam,
                    sapiente placeat velit, ea sunt quasi natus. Unde id quos dolorum, sit quidem repellendus illum
                    officiis eveniet dicta, maxime similique neque nesciunt illo nulla natus, velit asperiores
                    voluptatem dolore non eius adipisci! Possimus eum corporis debitis distinctio, laboriosam iste
                    delectus minus itaque expedita obcaecati hic cupiditate veritatis magnam pariatur quia dolorum
                    maiores et unde. Consectetur, culpa repellat, ullam quae accusamus enim placeat fuga mollitia dolore
                    dolorem quibusdam ut illum eveniet ipsam molestiae unde adipisci delectus commodi repudiandae? Ea,
                    eius veritatis. Nulla sequi error, optio, ab atque esse, quas distinctio facilis corporis
                    praesentium voluptates. Distinctio, eligendi. Nemo quod nostrum provident architecto neque
                    reiciendis nihil repellat quaerat quibusdam, ducimus esse asperiores sunt!

                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro quaerat, reprehenderit ad minus quas
                    reiciendis id voluptates maiores dolor sed. Omnis officia eligendi molestiae quos quaerat eum hic
                    optio possimus ex accusamus sapiente nostrum consectetur illo laboriosam, minima suscipit ullam qui
                    pariatur aspernatur modi libero. Similique distinctio temporibus saepe deserunt.
                </p>

                <div id="miracle-div">
                    <img src="./images/owner-pic-removebg-preview.png" alt="" srcset="" class="owner-img">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa pariatur quisquam in voluptatibus
                        earum perspiciatis itaque nesciunt porro, deserunt, quo necessitatibus iste ullam expedita
                        accusantium eveniet aperiam voluptate asperiores dolores vitae? Sint, magni nam. Laudantium
                        doloremque ab id est omnis inventore accusamus similique quibusdam quae odio, quaerat adipisci.
                        Quo,
                        esse. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem dolorem recusandae
                        reiciendis ea odio. Fuga eaque fugit pariatur eligendi et, sunt repellat expedita quasi
                        asperiores
                        magnam. Consequuntur tenetur fuga dolorum eum expedita ducimus. Similique, debitis. Iste quis
                        hic
                        optio sed veritatis, quasi officiis non beatae, amet odit suscipit? Excepturi molestias quasi
                        temporibus aspernatur blanditiis nemo, qui, doloribus fugiat, at atque saepe non? Enim quae fuga
                        blanditiis magni veritatis magnam? Error animi ab ducimus earum molestiae? Dignissimos sint hic
                        eos
                        laboriosam tempore officiis nam recusandae, ipsam rerum totam ex sunt! Amet voluptate minima ut,
                        accusamus neque ullam tempora modi inventore obcaecati! Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Aliquam beatae provident magnam! Officia beatae voluptatibus temporibus porro
                        laborum! Alias ab blanditiis accusantium sint excepturi recusandae magnam incidunt architecto
                        quo
                        quod necessitatibus distinctio quis maiores fugiat sed velit repellendus fuga maxime, doloremque
                        sequi! Ipsam soluta quo, tempore repellat eum, unde aut et distinctio sit voluptas veniam
                        quaerat
                        tenetur veritatis maxime ea earum dolorum quasi maiores! Dicta nam dolor exercitationem
                        assumenda
                        sit ad iste cumque ipsa corrupti, nobis eos eum enim consequatur accusantium cum? Vitae quaerat
                        ipsum perspiciatis minima assumenda doloribus quam, sapiente placeat velit, ea sunt quasi natus.
                        Unde id quos dolorum, sit quidem repellendus illum officiis eveniet dicta, maxime similique
                        neque
                        nesciunt illo nulla natus, velit asperiores voluptatem dolore non eius adipisci! Possimus eum
                        corporis debitis distinctio, laboriosam iste delectus minus itaque expedita obcaecati hic
                        cupiditate
                        veritatis magnam pariatur quia dolorum maiores et unde. Consectetur, culpa repellat, ullam quae
                        accusamus enim placeat fuga mollitia dolore dolorem quibusdam ut illum eveniet ipsam molestiae
                        unde
                        adipisci delectus commodi repudiandae? Ea, eius veritatis. Nulla sequi error, optio, ab atque
                        esse,
                        quas distinctio facilis corporis praesentium voluptates. Distinctio, eligendi. Nemo quod nostrum
                        provident architecto neque reiciendis nihil repellat quaerat quibusdam, ducimus esse asperiores
                        sunt! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro quaerat, reprehenderit ad
                        minus quas reiciendis id voluptates maiores dolor sed. Omnis officia eligendi molestiae quos
                        quaerat
                        eum hic optio possimus ex accusamus sapiente nostrum consectetur illo laboriosam, minima
                        suscipit
                        ullam qui pariatur aspernatur modi libero. Similique distinctio temporibus saepe deserunt. </p>
                </div>
            </div>
        </div>

        <!-- Quality -->
        <div id="quality-div" class="container-fluid my-5">
            <div class="col-12 py-5 headingDiv">
                <h3 class="headings">
                    Our Quality
                    <hr>
                </h3>
            </div>
            <div class="row mx-auto card-parent-div">
                <% qualityImg.forEach(element=> { %>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 my-2 card-div">
                        <div class="card about-card">
                            <img src="<%=element%>" class="card-img-top" alt="...">
                        </div>
                    </div>
                    <%});%>
            </div>
        </div>
        </div>

        <!-- About Showroom -->

        <div id="showroom-div" class="container-fluid my-5">
            <div class="col-12 py-5 headingDiv">
                <h3 class="headings">
                    About Showroom
                    <hr>
                </h3>
            </div>
            <div class="container">
                <p> &nbsp; &nbsp;
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos totam voluptatem excepturi
                    nihil
                    repellat? Facilis quae animi obcaecati commodi eveniet nostrum magnam, at nemo quibusdam accusamus
                    dolor
                    dicta provident minus?</p>
                <p> &nbsp; &nbsp;
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos totam voluptatem excepturi
                    nihil
                    repellat? Facilis quae animi obcaecati commodi eveniet nostrum magnam, at nemo quibusdam accusamus
                    dolor
                    dicta provident minus?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos totam voluptatem excepturi
                    nihil
                    repellat? Facilis quae animi obcaecati commodi eveniet nostrum magnam, at nemo quibusdam accusamus
                    dolor
                    dicta provident minus?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos totam voluptatem excepturi
                    nihil
                    repellat? Facilis quae animi obcaecati commodi eveniet nostrum magnam, at nemo quibusdam accusamus
                    dolor
                    dicta provident minus?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos totam voluptatem excepturi
                    nihil
                    repellat? Facilis quae animi obcaecati commodi eveniet nostrum magnam, at nemo quibusdam accusamus
                    dolor
                    dicta provident minus?
                </p>
            </div>
        </div>


        <!-- Footer -->
        <%- include('../partials/footer')%>


            <%- include('../partials/script-link')%>
</body>

</html>