<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSF - Manage Manufacturers</title>
    <%- include ('../partials/header-links') %>

        <!-- custom css -->
        <link rel="stylesheet" href="../css/admin/manage-admin.css">



        <style>
            #item_name {
                color: orangered;
                font-weight: 500;
                border: none !important;
                outline: none !important;
                box-shadow: none !important;
            }

            #item_name>option {
                color: orangered !important;
                background: rgb(255, 240, 235);
            }
        </style>
</head>

<body>
    <%- include('../partials/navbar')%>

        <div class="container-fluid mx-auto mt-4 headingDiv">
            <h4 class="headings">
                Manage Manufacturers
                <hr>
            </h4>
        </div>
        <div class="container plus-btn-div">
            <button class="btn py-2 add-btn" data-bs-toggle="modal" data-bs-target="#addManufacturerModal">
                <i class="fa-solid fa-plus"></i> Add Manufacturer
            </button>
        </div>


        <!-- profile-card -->
        <div class="container-fluid my-5 profile-card-grant-parent-div">

            <div class="container px-sm-2 px-0 profile-card-parent-div">
                <%if(results.length>0){%>
                    <% results.forEach(result=> { %>

                        <div class="row mx-auto profie-card-div py-5 mt-5">
                            <div class="col-10 px-3 py-3 profile-info-div">

                                <ul class="list-group profile-info-grp">

                                    <li class="list-group-item my-1">
                                        <p class="col-sm-4 col-12 key-para">Manufacturer - Email</p>
                                        <p class="col-sm-8 col-12 value-para">
                                            <%= result.manufacturer_email%>
                                        </p>
                                    </li>

                                    <li class="list-group-item my-1">
                                        <p class="col-sm-4 col-12 key-para">Manufacturer - Name</p>
                                        <p class="col-sm-8 col-12 value-para">
                                            <%= result.manufacturer_name%>
                                        </p>
                                    </li>

                                    <li class="list-group-item my-1">
                                        <p class="col-sm-4 col-12 key-para">Manufacturer - Mobile</p>
                                        <p class="col-sm-8 col-12 value-para">
                                            <%= result.manufacturer_mobile%>
                                        </p>
                                    </li>

                                    <li class="list-group-item my-1">
                                        <p class="col-sm-4 col-12 key-para">Manufacturer - Factory Name</p>
                                        <p class="col-sm-8 col-12 value-para">
                                            <%= result.manufacturer_factory_name%>
                                        </p>
                                    </li>

                                    <li class="list-group-item my-1">
                                        <p class="col-sm-4 col-12 key-para">Manufacturer - Factory Address</p>
                                        <p class="col-sm-8 col-12 value-para">
                                            <%= result.manufacturer_factory_address%>
                                        </p>
                                    </li>

                                </ul>

                                <div class="mt-4 profile-info-btn-div">
                                    <a href="/admin/edit-manufacturer?op=edit&_id=<%=result._id%>">
                                        <button class="btn mx-2 edit-btn">
                                            Edit <i class="fa-solid fa-pen-to-square"></i>
                                        </button>
                                    </a>
                                    <a href="/admin/delete-manufacturer?op=delete&_id=<%=result._id%>">
                                        <button class="btn mx-2 delete-btn">
                                            Delete <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <%});%>
                            <%}else{%>
                                <p class="py-2"
                                    style="color: orangered; text-align: center; background: rgb(255, 187, 162);">You
                                    have not add any manufacturer yet.</p>
                                <%}%>
            </div>
        </div>

        <!-- Footer -->
        <%- include('../partials/footer')%>

</body>

</html>


<!-- modal for add manufacturer -->

<div class="modal fade" id="addManufacturerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addManufacturerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addManufacturerModalLabel">Add Manufacturer
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/manufacturers" method="post" class="row g-3">

                    <div class="col-12">
                        <input type="email" class="form-control" id="add_manufacturer_email"
                            name="add_manufacturer_email" placeholder="Manufacturer Email..." required>
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control" id="add_manufacturer_name" name="add_manufacturer_name"
                            placeholder="Manufacturer Name..." required>
                    </div>
                    <div class="col-12">
                        <input type="tel" class="form-control" id="add_manufacturer_mobile"
                            name="add_manufacturer_mobile" placeholder="Manufacturer Mobile..." required>
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control" id="add_manufacturer_factory_name"
                            name="add_manufacturer_factory_name" placeholder="Manufacturer Factory Name..." required>
                    </div>
                    <div class="col-12 form-floating">
                        <textarea type="text" class="form-control" id="add_manufacturer_factory_address" cols="30"
                            rows="10" name="add_manufacturer_factory_address"
                            placeholder="Manufacturer Factory Address..." required> </textarea>
                        <label for="add_manufacturer_factory_address">Manufacturer Factory Address...</label>
                    </div>


                    <div class="col-12 modal-footer">
                        <button type="submit" id="myform" class="btn add-sbmt-btn">
                            <i class="fa-solid fa-plus"></i> Add
                        </button>
                        <button type="button" class="btn close-form-modal" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>