<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSF - Beds</title>

    <%- include ('../../partials/header-links') %>
        <link rel="stylesheet" href="../../../CSS/manage-admin.css">
        <script src="../JS/image-script.js" defer></script>

        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <%if(session.userType==="customer" ){%>
            <script>

                let favouriteMap = new Map();
                let cartMap = new Map();
                let getFavourites;
                let getCarts;

                express_session_update(); // calling ...

                function express_session_update() { //declare ...
                    $(document).ready(() => {

                        getFavourites = new Promise((resolve, reject) => {
                            $.get('/get-favourites', (data, status) => {

                                let likeItems = data;
                                likeItems.forEach((likeItem) => {
                                    let lid = likeItem._id;
                                    let pid = likeItem.product._id;
                                    favouriteMap.set(pid, lid);
                                });

                                resolve(favouriteMap);
                            });
                        });

                        getCarts = new Promise((resolve, reject) => {
                            $.get('/get-carts', (data, status) => {

                                let cartItems = data;
                                cartItems.forEach((cartItem) => {
                                    let cartid = cartItem._id;
                                    let pid = cartItem.product._id;
                                    cartMap.set(pid, cartid);
                                });

                                $("#no_of_carts_badge").text(cartItems.length);
                                resolve(cartMap);
                            });
                        });
                    });
                }

                function addFav(pid) {
                    let body = { pid: pid }

                    $.post("/add-to-fav", body, function (data, status) {

                        let pid = data.product;
                        let lid = data._id;

                        let rmv_fav_btn = `<button class="btn bg-white rounded mx-2" id="rmv-to-fav-${pid}" onclick="rmvFav('${lid}','${pid}')"><i class="fa-solid fa-heart fa-beat" style="color: #ff3300;"></i></button>`;
                        $(`#fav-btn-div-${pid}`).html(rmv_fav_btn);
                        express_session_update();
                    });
                }

                function rmvFav(lid, pid) {
                    let body = { lid: lid, pid: pid }

                    $.post("/rmv-to-fav", body, function (data, status) {

                        let pid = data.toString(); // data = ObjectId(pid)
                        let add_fav_btn = `<button class="btn bg-white rounded mx-2" id="add-to-fav-${pid}" onclick="addFav('${pid}')"><i class="fa-regular fa-heart" style="color: #ff0000;"></i></button>`;
                        $(`#fav-btn-div-${pid}`).html(add_fav_btn);

                        express_session_update();
                    });
                }

                function addCart(pid) {
                    let body = { pid: pid }

                    $.post("/add-to-cart", body, function (data, status) {

                        let pid = data.product;
                        let cartid = data._id;

                        let add_cart_btn = `<button class="btn bg-white rounded mx-2" id="add-to-cart-${pid}" onclick="addMoreCart('${cartid}','${pid}')"><i class="fa-solid fa-cart-shopping fa-spin"></i></button>`;
                        $(`#cart-btn-div-${pid}`).html(add_cart_btn);

                        setTimeout(() => {
                            let add_cart_btn = `<button class="btn bg-white rounded mx-2" id="add-to-cart-${pid}" onclick="addMoreCart('${cartid}','${pid}')"><i class="fa-solid fa-cart-shopping"></i></button>`;
                            $(`#cart-btn-div-${pid}`).html(add_cart_btn);
                        }, 2000);
                        express_session_update();
                    });
                }

                function addMoreCart(cartid, pid) {
                    let body = { cartid: cartid, pid: pid }

                    $.post("/add-to-cart", body, function (data, status) {

                        let pid = data.product;
                        let cartid = data._id;

                        let add_cart_btn = `<button class="btn bg-white rounded mx-2" id="add-to-cart-${pid}" onclick="addMoreCart('${cartid}','${pid}')"><i class="fa-solid fa-cart-shopping fa-spin"></i></button>`;
                        $(`#cart-btn-div-${pid}`).html(add_cart_btn);

                        setTimeout(() => {
                            let add_cart_btn = `<button class="btn bg-white rounded mx-2" id="add-to-cart-${pid}" onclick="addMoreCart('${cartid}','${pid}')"><i class="fa-solid fa-cart-shopping"></i></button>`;
                            $(`#cart-btn-div-${pid}`).html(add_cart_btn);
                        }, 2000);

                        express_session_update();
                    });
                }
                function initPayment(image, name, pid, data) {
                    const options = {
                        key: "rzp_test_UH2jjfYOR8enLr",
                        amount: data.amount,
                        currency: data.currency,
                        name: name,
                        description: "Test Transaction",
                        image: image,
                        order_id: data.id,
                        handler: async (response) => {
                            try {
                                // response.pid = pid;
                                $.post("/api/payment/verify", response, (data, status) => {

                                    if (data.paymentStatus) { // if payment successfull ...
                                        console.log(data);
                                        let body = { cartid: "64207609a416020ff785188b" };
                                        $.post("/create-order", body, (data, status) => {
                                            console.log(data);
                                        });
                                    }
                                });
                            } catch (error) {
                                console.log(error);
                            }
                        },
                        theme: {
                            color: "#3399cc",
                        },
                    };
                    const rzp1 = new window.Razorpay(options);
                    rzp1.open();
                    console.log("paymanet succesfuly sone :)");
                }

                function handlePayment(image, name, amount, pid) {

                    $(document).ready(() => {
                        let body = { amount };

                        $.post("/api/payment/orders", body, (data, status) => {
                            console.log(data);
                            initPayment(image, name, pid, data.data);
                        });
                    });
                }

            </script>
            <%}%>
</head>

<body>
    <%- include('../../partials/navbar')%>

        <div class="container-fluid mx-auto mt-4 headingDiv">
            <h4 class="headings">
                Manage Beds
                <hr>
            </h4>
        </div>
        <%if(session.userType==="admin" ){%>
            <div class="container plus-btn-div">
                <button class="btn py-2 btn-type-1" data-bs-toggle="modal" data-bs-target="#addBedModal">
                    <i class="fa-solid fa-plus"></i> Add Bed
                </button>
            </div>
            <%}%>

                <div class="container row mx-auto px-0 py-3 card-parent-div">

                    <%if(results.length>0){%>
                        <% results.forEach(result=> { %>
                            <div class="mb-4 product-card-div">
                                <div class="row mx-auto" style="width: 80%;">

                                    <div class="col-lg-5 col-md-8 col-sm-10 col-12 product-img-div px-4 pt-4">
                                        <%if(result.image){%>
                                            <img src="<%= result.image%>" class="card-img-top" alt="...">
                                            <%}else{%>
                                                <img src="../../../Images/other-images/no-product.png"
                                                    class="card-img-top" alt="">
                                                <%}%>

                                    </div>
                                    <div class="col-lg-6 col-md-8 col-sm-10 col-12 card-body">
                                        <div class="info-structure">
                                            <div class="row mx-auto info-div my-2">
                                                <p class="col-4 key-para px-2 py-2">Name : </p>
                                                <p class="col-8 value-para px-2 py-2">
                                                    <%=result.name%>
                                                </p>
                                            </div>
                                            <div class="row mx-auto info-div my-2">
                                                <p class="col-4 key-para px-1 py-2">Dimensions : </p>
                                                <p class="col-8 value-para px-2 py-2">
                                                    Length : <%=result.dimensions.length%>
                                                        <br>
                                                        Height : <%=result.dimensions.height%>
                                                            <br>
                                                            Width : <%=result.dimensions.width%>
                                                </p>
                                            </div>
                                            <div class="row mx-auto info-div my-2">
                                                <p class="col-4 key-para px-2 py-2">Availability : </p>
                                                <p class="col-8 value-para px-2 py-2">
                                                    <%=result.availability%>
                                                </p>
                                            </div>
                                            <div class="row mx-auto info-div my-2">
                                                <p class="col-4 key-para px-2 py-2">Brand : </p>
                                                <p class="col-8 value-para px-2 py-2">
                                                    <%=result.brand%>
                                                </p>
                                            </div>
                                            <div class="row mx-auto info-div my-2">
                                                <p class="col-4 key-para px-2 py-2">Storage : </p>
                                                <p class="col-8 value-para px-2 py-2">
                                                    <%=result.storage%>
                                                </p>
                                            </div>
                                            <div class="row mx-auto info-div my-2">
                                                <p class="col-4 key-para px-2 py-2">Description : </p>
                                                <p class="col-8 value-para px-2 py-2 desc-para">
                                                    <%=result.description%>
                                                </p>
                                            </div>
                                            <div class="inner-div">
                                                <div class="row mx-auto info-div my-2">
                                                    <p class="col-12 key-para px-2 py-2">Max. Load : </p>
                                                    <p class="col-12 value-para px-2 py-2">
                                                        <%=result.max_load%>
                                                    </p>
                                                </div>

                                                <div class="row mx-auto info-div my-2">
                                                    <p class="col-12 key-para px-2 py-2">Capacity : </p>
                                                    <p class="col-12 value-para px-2 py-2">
                                                        <%=result.capacity%>
                                                    </p>
                                                </div>

                                                <div class="row mx-auto info-div my-2">
                                                    <p class="col-12 key-para px-2 py-2">Warrenty : </p>
                                                    <p class="col-12 value-para px-2 py-2">
                                                        <%=result.warrenty%>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="inner-div">
                                                <div class="row mx-auto info-div my-2">
                                                    <p class="col-12 key-para px-2 py-2">Price : </p>
                                                    <p class="col-12 value-para px-2 py-2">
                                                        <%=result.price%>
                                                    </p>
                                                </div>
                                                <div class="row mx-auto info-div my-2">
                                                    <p class="col-12 key-para px-2 py-2">Discount : </p>
                                                    <p class="col-12 value-para px-2 py-2">
                                                        <%=result.discount%>
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                        <% if(session.userType==="customer" ){%>

                                            <!-- script -->
                                            <script>
                                                $(document).ready(() => {
                                                    getFavourites.then((favouriteMap) => {
                                                        let pid = "<%=result._id%>";
                                                        let lid = favouriteMap.get(pid);

                                                        if (lid) {

                                                            let rmv_fav_btn = `<button class="btn bg-white mx-2" id="rmv-to-fav-${pid}" onclick="rmvFav('${lid}','${pid}')"><i class="fa-solid fa-heart fa-beat" style="color: #ff3300;"></i></button>`;
                                                            $(`#fav-btn-div-${pid}`).html(rmv_fav_btn);
                                                        }
                                                        else {
                                                            let add_fav_btn = `<button class="btn bg-white rounded mx-2" id="add-to-fav-${pid}" onclick="addFav('${pid}')"><i class="fa-regular fa-heart" style="color: #ff0000;"></i></button>`;
                                                            $(`#fav-btn-div-${pid}`).html(add_fav_btn);
                                                        }
                                                    });

                                                    getCarts.then((cartMap) => {
                                                        let pid = "<%=result._id%>";
                                                        let cartid = cartMap.get(pid);

                                                        if (cartid) {
                                                            let add_cart_btn = `<button class="btn bg-white rounded mx-2" id="add-to-cart-${pid}" onclick="addMoreCart('${cartid}','${pid}')"><i class="fa-solid fa-cart-shopping"></i></button>`;
                                                            $(`#cart-btn-div-${pid}`).html(add_cart_btn);
                                                        }
                                                        else {
                                                            let add_cart_btn = `<button class="btn bg-white rounded mx-2" id="add-to-cart-${pid}" onclick="addCart('${pid}')"><i class="fa-solid fa-cart-shopping"></i></button>`;
                                                            $(`#cart-btn-div-${pid}`).html(add_cart_btn);
                                                        }
                                                    });
                                                });
                                            </script>
                                            <!-- script -->

                                            <div class="d-flex justify-content-start align-items-center">
                                                <div class="mt-4 btn-div" id="fav-btn-div-<%=result._id%>">
                                                </div>

                                                <div class="mt-4 btn-div" id="cart-btn-div-<%=result._id%>">
                                                </div>

                                                <div class="mt-4 ms-auto btn-div" id="#">
                                                    <button class="btn btn-outline-success"
                                                        onclick="handlePayment('<%=result.image%>','<%=result.name%>','<%=result.price%>','<%=result._id%>' )">
                                                        <i class="fa-solid fa-bag-shopping fa-beat fa-sm"></i>
                                                        Buy</button>
                                                </div>
                                            </div>

                                            <%}else if(session.userType==="admin" ){%>
                                                <div class="mt-4 btn-div">
                                                    <a href="/product/bed/edit/<%=result._id%>">
                                                        <button class="btn mx-2 btn-type-2">
                                                            Edit <i class="fa-solid fa-pen-to-square"></i>
                                                        </button>
                                                    </a>
                                                    <a href="/product/bed/delete/<%=result._id%>">
                                                        <button class="btn mx-2 btn-type-2">
                                                            Delete <i class="fa-solid fa-trash"></i>
                                                        </button>
                                                    </a>
                                                </div>
                                                <%}%>
                                    </div>
                                </div>
                            </div>
                            <%});%>
                                <%}else{%>
                                    <p class="py-2" style="color: #1A120B; text-align: center; background: #E5E5CB;">
                                        You
                                        have not add any item yet.</p>
                                    <%}%>
                </div>


                <!-- footer -->
                <%- include('../../partials/footer')%>

</body>

</html>

<!-- modal for add beds -->

<div class="modal fade" id="addBedModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addBedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBedModalLabel">Add Bed
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" class="row g-3">

                    <div class="col-12">
                        <input type="text" class="form-control" id="add_name" name="add_name" value="BD-201"
                            placeholder="Name" required>
                    </div>
                    <div class="col-12">
                        <input class="form-control" type="file" id="image_file" name="image_file"
                            accept=".jpeg, .jpg, .png" onchange="convertToBase64()">
                        <input type="text" name="image" id="image" hidden>
                    </div>

                    <div class="col-12">
                        <textarea id="add_description" name="add_description" class="form-control" rows="3"
                            required="required" placeholder="Description">THIS IS Description</textarea>
                    </div>

                    <div class="col-12">
                        <input type="text" class="form-control" id="add_length" value="32" name="add_length"
                            placeholder="Length" required>
                    </div>

                    <div class="col-12">
                        <input type="text" class="form-control" id="add_height" value="7" name="add_height"
                            placeholder="Height" required>
                    </div>

                    <div class="col-12">
                        <input type="text" class="form-control" id="add_width" value="23" name="add_width"
                            placeholder="Width" required>
                    </div>

                    <div class="col-12">
                        <input type="number" class="form-control" id="add_price" value="120" name="add_price"
                            placeholder="Price" required>
                    </div>

                    <div class="col-12">
                        <input type="number" class="form-control" id="add_warrenty" value="2" name="add_warrenty"
                            placeholder="Warrenty (Years)" required>
                    </div>

                    <div class="col-12">
                        <input type="number" class="form-control" id="add_discount" value="16" name="add_discount"
                            placeholder="Discount (%)" required>
                    </div>

                    <div class="col-12">
                        <input type="number" class="form-control" id="add_max_load" value="550" name="add_max_load"
                            placeholder="Max. Load (kg)">
                    </div>

                    <div class="col-12">
                        <input type="number" class="form-control" id="add_capacity" value="2" name="add_capacity"
                            placeholder="Capacity (#People)">
                    </div>

                    <div class="col-12 d-flex justify-content-around align-items-center">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="add_storage" value="on"
                                id="flexRadioDefault1" checked>
                            <label class="form-check-label" for="flexRadioDefault1" style="color: #fff !important;">
                                Have Storage
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="add_storage" value="off"
                                id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2" style="color: #fff !important;">
                                Haven't Storage
                            </label>
                        </div>
                    </div>

                    <div class="col-12 d-flex justify-content-around align-items-center">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="add_availability" value="on"
                                id="flexRadioDefault1" checked>
                            <label class="form-check-label" for="flexRadioDefault1" style="color: #fff !important;">
                                Available
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="add_availability" value="off"
                                id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2" style="color: #fff !important;">
                                Not Available
                            </label>
                        </div>
                    </div>


                    <div class="col-12 modal-footer">
                        <button type="submit" id="myform" class="btn btn-type-2">
                            <i class="fa-solid fa-plus"></i> Add
                        </button>
                        <button type="button" class="btn btn-type-1" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>