<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSF - customer Name</title>

    <!-- custom css -->
    <link rel="stylesheet" href="../css/manage-admin.css">

    <%- include ('../../partials/header-links') %>
</head>

<body>
    <%- include('../../partials/navbar')%>

        <div class="container-fluid mx-auto mt-4 headingDiv">
            <h4 class="headings">
                Profile
                <hr>
            </h4>
        </div>

        <!-- profile-card -->
        <div class="container-fluid my-2 mb-4 profile-card-grant-parent-div">

            <div class="container px-sm-2 px-0 profile-card-parent-div">

                <div class="row mx-auto profie-card-div py-5 px-2">

                    <div class="col-lg-6 col-12 px-2 py-2 my-sm-0 mb-3 card profile-img-div" style="width: 15rem;">
                        <%if(result.image){%>
                            <img src="<%= result.image%>" class="card-img-top" alt="...">
                            <%}else{%>
                                <img src="../Images/temporary/profile-pic.jpg" class="card-img-top" alt="...">
                                <%}%>
                    </div>

                    <div class="col-lg-6 col-12 px-3 py-3 profile-info-div">
                        <ul class="list-group profile-info-grp">
                            <li class="list-group-item my-1">
                                <p class="col-sm-4 col-12 key-para">Email</p>
                                <p class="col-sm-8 col-12 py-2 px-2 value-para">
                                    <%=result.email%>
                                </p>
                            </li>
                            <li class="list-group-item my-1">
                                <p class="col-sm-4 col-12 key-para">Name</p>
                                <p class="col-sm-8 col-12 py-2 px-2 value-para">
                                    <%= result.name%>
                                </p>
                            </li>
                            <li class="list-group-item my-1">
                                <p class="col-sm-4 col-12 key-para">Mobile</p>
                                <p class="col-sm-8 col-12 py-2 px-2 value-para">
                                    <%= result.mobile%>
                                </p>
                            </li>
                            <li class="list-group-item my-1">
                                <p class="col-sm-4 col-12 key-para">Addresss</p>
                                <p class="col-sm-8 col-12 py-2 px-2 value-para">
                                    <%= result.homeNo%>, <%= result.street%> .<br>
                                            <%= result.pincode%>
                                </p>
                            </li>
                            <li class="list-group-item my-1">
                                <p class="col-sm-4 col-12 key-para">District</p>
                                <p class="col-sm-8 col-12 py-2 px-2 value-para">
                                    <%=result.district%>
                                </p>
                            </li>
                            <li class="list-group-item my-1">
                                <p class="col-sm-4 col-12 key-para">State</p>
                                <p class="col-sm-8 col-12 py-2 px-2 value-para">
                                    <%=result.state%>
                                </p>
                            </li>
                        </ul>

                        <div class="mt-4 profile-info-btn-div">
                            <a href="/customer-profile/edit">
                                <button class="btn btn-type-1 mx-2">
                                    Edit <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        
        <!-- Footer -->
        <%- include('../../partials/footer')%>
</body>

</html>