<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Accountant</title>

    <%- include ('../../partials/header-links') %>
        <link rel="stylesheet" href="../css/manage-admin.css">

</head>

<body>
    <div class="container-fluid mx-auto mt-4 headingDiv">
        <h4 class="headings">
            Create Accountant
            <hr>
        </h4>
    </div>
    <div class="container">
        <%if(swr){%>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%=errorMsg%>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <form method="post" class="row g-3">
                <div class="col-12">
                    <input type="email" class="form-control" id="accountant_email" name="accountant_email"
                        placeholder="Accountant Email..." value="<%=result.accountant_email%>" required>
                </div>
                <div class="col-12">
                    <input type="password" class="form-control" id="accountant_pass" name="accountant_pass"
                        placeholder="Accountant Password..." value="<%=result.accountant_pass%>" required>
                </div>
                <div class="col-12">
                    <input type="text" class="form-control" id="accountant_name"
                        name="accountant_name" placeholder="Accountant Name..." value="<%=result.accountant_name%>"
                        required>
                </div>
                <div class="col-12">
                    <input type="tel" class="form-control" name="accountant_mobile" id="accountant_mobile"
                        placeholder="Accountant Mobile..." maxlength="10" pattern="[0-9]{10}"
                        value="<%=result.accountant_mobile%>" required>
                </div>
                <div class="col-12">
                    <input type="text" class="form-control" id="accountant_study" name="accountant_study"
                        placeholder="Accountant Study..." value="<%=result.accountant_study%>" required>
                </div>
                <div class="col-12">
                    <input type="number" min="1" max="100" class="form-control" id="accountant_experience"
                        name="accountant_experience" placeholder="Accountant Experience..."
                        value="<%=result.accountant_experience%>" required>
                </div>
                <div class="col-12">
                    <input class="form-control" type="file" id="accountant_image" name="accountant_image">
                </div>
                <div class="col-12">
                    <textarea name="accountant_address" id="accountant_address" class="form-control" cols="30" rows="4"
                        placeholder="Accountant Address..." required><%=result.accountant_address%></textarea>
                </div>
                <div class="col-12 modal-footer">
                    <button type="submit" id="myform" class="btn add-sbmt-btn">
                        <i class="fa-solid fa-plus"></i> Add
                    </button>
                    <button type="button" class="btn close-form-modal" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </form>
            <%}else{%>
                <form method="post" class="row g-3">
                    <div class="col-12">
                        <input type="email" class="form-control" id="accountant_email" name="accountant_email"
                            placeholder="Accountant Email..." value="accountant123@gmail.com" required>
                    </div>
                    <div class="col-12">
                        <input type="password" class="form-control" id="accountant_pass" name="accountant_pass"
                            placeholder="Accountant Password..." value="root" required>
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control" maxlength="10" minlength="10" id="accountant_name"
                            name="accountant_name" placeholder="Accountant Name..." value="acc-123" required>
                    </div>
                    <div class="col-12">
                        <input type="tel" class="form-control" name="accountant_mobile" id="accountant_mobile"
                            placeholder="Accountant Mobile..." maxlength="10" pattern="[0-9]{10}" value="9898989898"
                            required>
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control" id="accountant_study" name="accountant_study"
                            placeholder="Accountant Study..." value="accountant123@gmail.com" required>
                    </div>
                    <div class="col-12">
                        <input type="number" min="1" max="100" class="form-control" id="accountant_experience"
                            name="accountant_experience" placeholder="Accountant Experience..." value="4" required>
                    </div>
                    <div class="col-12">
                        <input class="form-control" type="file" id="accountant_image" name="accountant_image">
                    </div>
                    <div class="col-12">
                        <textarea name="accountant_address" id="accountant_address" class="form-control" cols="30"
                            rows="4" placeholder="Accountant Address..."
                            required>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, ipsa. Harum quia dolorum quis voluptas. Facere quaerat ad quibusdam doloribus.</textarea>
                    </div>
                    <div class="col-12 modal-footer">
                        <button type="submit" id="myform" class="btn add-sbmt-btn">
                            <i class="fa-solid fa-plus"></i> Add
                        </button>
                        <button type="button" class="btn close-form-modal" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
                <%}%>
    </div>
</body>

</html>