<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSF - EXPORTS EDITED</title>
    <%- include ('../../partials/header-links') %>

        <!-- custom css -->
        <link rel="stylesheet" href="../css/manage-admin.css">

        <style>
            .list-group-item input,
            textarea {
                border: none !important;
                outline: none !important;
                box-shadow: none !important;
                color: black !important;
                background: rgb(255, 228, 205);
            }
        </style>
</head>

<body>
    <div class="container edit-form-div">

        <div class="col-12 py-3 mt-4 headingDiv">
            <h3 class="headings">
                Edit Exports <i class="fa-solid fa-pen-to-square"></i>
                <hr>
            </h3>
        </div>

        <a href="/admin/Exports">
            <button class="btn mx-2 btn-type-2">
                <i class="fa-solid fa-backward"></i> Back
            </button>
        </a>
        <div class="profie-card-div py-3">
            <form action="" class="col-sm-10 col-12 my-3" method="post">

                <div class="col-12 px-3 py-3 profile-info-div">
                    <ul class="list-group profile-info-grp">
                        <li class="list-group-item my-1">
                            <p class="col-4 key-para">Vendor - Email</p>
                            <input type="email" class="col-8 p-2" name="update_key_vendor_email"
                                value="<%=result.key_vendor_email%>">
                        </li>

                        <li class="list-group-item my-1">
                            <p class="col-4 key-para">Item Name</p>

                            <div class="col-8 my-2">
                                <select name="update_item_name" id="update_item_name" class="form-select"
                                    aria-label="example" required>
                                    <%if(result.item_info.item_name=="Sofas"){%>
                                        <option selected value="Sofas">Sofas</option>
                                        <%}else{%>
                                            <option value="Sofas">Sofas</option>
                                            <%}%>
                                                <%if(result.item_info.item_name=="Beds"){%>
                                                    <option selected value="Beds">Beds</option>
                                                    <%}else{%>
                                                        <option value="Beds">Beds</option>
                                                        <%}%>
                                                            <%if(result.item_info.item_name=="Mattrases"){%>
                                                                <option selected value="Mattrases">Mattrases
                                                                </option>
                                                                <%}else{%>
                                                                    <option value="Mattrases">Mattrases</option>
                                                                    <%}%>
                                                                        <%if(result.item_info.item_name=="Chairs"){%>
                                                                            <option selected value="Chairs">Chairs
                                                                            </option>
                                                                            <%}else{%>
                                                                                <option value="Chairs">Chairs
                                                                                </option>
                                                                                <%}%>
                                                                                    <%if(result.item_info.item_name=="Tables"){%>
                                                                                        <option selected value="Tables">
                                                                                            Tables
                                                                                        </option>
                                                                                        <%}else{%>
                                                                                            <option value="Tables">
                                                                                                Tables</option>
                                                                                            <%}%>
                                </select>
                            </div>

                        </li>

                        <li class="list-group-item my-1">
                            <p class="col-4 key-para">Item Quantity</p>
                            <input type="number" min="1" class="col-8 p-2" name="update_item_quantity"
                                value="<%=result.item_info.item_quantity%>">
                        </li>

                        <li class="list-group-item my-1">
                            <p class="col-4 key-para">Item Price (<i class="fa-solid fa-indian-rupee-sign"></i>)</p>
                            <input type="number" min="1" class="col-8 p-2" name="update_item_price"
                                value="<%=result.item_info.item_price%>">
                        </li>

                        <li class="list-group-item my-1">
                            <p class="col-4 key-para">GST Per Item (%)</p>
                            <input type="number" min="1" class="col-8 p-2" name="update_gst" value="<%=result.gst%>">
                        </li>

                        <li class="list-group-item my-1">
                            <p class="col-4 key-para">CGST Per Item (%)</p>
                            <input type="number" min="1" class="col-8 p-2" name="update_cgst" value="<%=result.cgst%>">
                        </li>

                        <!-- for date & time,,,

                            <li class="list-group-item my-1">
                            <p class="col-4 key-para">CGST Per Item (%)</p>
                            <input type="number" min="1" class="col-8 p-2" name="update_cgst"
                                value="">
                        </li> -->

                    </ul>

                    <div class="mt-4 profile-info-btn-div">
                        <button type="submit" class="btn mx-2 btn-type-2">
                            Edit <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>

</body>

</html>